* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: rgb(77, 0, 58);
}

.grid {
  width: 604px;
  height: 604px;
  border: white solid 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-auto-rows: 40px;
}

.app {
  display: grid;
  grid-template-columns: 644px 1fr;
  gap: 10px;
}

.grid > div {
  width: 40px;
  height: 40px;
  background-size: contain;
}

.message {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 200px;
  height: 100px;
  background-color: white;
  opacity: 85%;
}

.message h1 {
  color: rgb(240, 184, 63);
  text-align: center;
  line-height: 50px;
}

.spaceship {
  background-image: url(https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/spaceship.png);
}

.laser {
  background-image: url(https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/projectile.png);
}

.alien {
  background-image: url(https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/alien.png);
}

.hit {
  background-image: url(https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/explosion.png);
}

.scoreboard {
  margin: 20px;
  color: white;
}

.scoreboard > * {
  margin: 20px;
}
